  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Poppins:ital,wght@0,400;0,500;0,700;1,600&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
:root {
    --main-color:#040714; 
    --site-color:#fff;
    --active-color:#0063e5;
    --first-color:#08132f;
    --second-color:#090b13;
    --third-color:#1b202a;

}

body {
    background-color: var(--main-color);
    color: var(--site-color);
}
.max-width{
    max-width: 1300px;
    padding: 0 10px;
    margin: auto;
}
/*
Inicio Menu
*/
.navbar .logo a{
    color: var(--active-color);
    font-size: 35px;
    font-weight: 500;

}
.navbar {
    position: fixed;
    width: 100%;
    z-index: 999;
   padding: 20px 0;
   font-family: 'Ubuntu','sans-serif';
   background-color: var(--main-color);
   border-bottom: solid var(--third-color) 1px;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .menu li{
   list-style: none; 
   display: inline-block;
   
}

.navbar .menu a{
    display: block;
    color: var(--site-color);
    font-size: 18px;
    font-weight: 400px;
    margin-left: 25px;
}


.menu-btn{
    color: var(--site-color);
    font-size: 23px;
    cursor: pointer;
    display: none; 
}

@media (max-width: 947px){
    .menu-btn{
        display: block;
        z-index: 999;
    }
    #menu-icon.active::before {
        content: "\f00d";
    }
    .navbar .menu{
        background-color: var(--main-color);
        position: fixed;
        height: 100vhd;
        width: 100%;
        left: -100%;
        top: 0;
        text-align: center;
        padding-top:80px;
        transition: all 0.4s ease;

    }
    #menu-site.active{
        left: 0;
    }
    .navbar .menu li{
       display: block; 
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 13px 0;
        font-size: 25px;
    }
}
/*
Fim Menu 
*/


/*
Inicio do topo
*/


section{
    padding: 50px 0;
}
@media(.max-width: 690px){
    section{
        padding: 20px 0;
    }
}

.top{
    color: var(--site-color);
    display: flex;
   /* background: url(../images/banner_top_v5.jpg) no-repeat center;*/
   background: linear-gradient(to right, var(--main-color) 25%, rgba(255,255,255,0)),
   url(../images/banner_top_v5.jpg) no-repeat center;;
      height: 100vh;
   min-height: 500px;
   /* 
   background-size especifica o tamanho das imagens de fundo
   */
   background-size: cover;
   /* 
   background-attachment: fixed Fixa a immagem de fundo na tela
   */
   background-attachment: fixed;
   font-family:   'Ubuntu', sans-serif;

}
.top .max-width{
    width: 100%;
    display: flex;
}

.top .top-content .text-1{
    font-size: 25px;
}

.top .top-content .text-2{
    font-size: 55px;
    font-weight: 400;
    margin-left: 3px;
}
.top .top-content .text-3{
    font-size: 32px;
    margin: 5px 0;
}

.top .top-content a {
    display: inline-block;
    background: var(--active-color);
    color: var(--site-color);
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 300;
    border-radius: 6px;
    border: 2px solid var(--active-color);
    transition: all 3s ease;
   

}
.top .top-content a:hover{
    color: var(--active-color);
    background: none; 
 }

 /*
Fim do topo
*/


 /*
Inicio Serviço 
*/
.services {
    color: var(--site-color);
    background-color: var(--main-color);
    font-family: 'Poppins', sans-serif;
    margin: 60px;

}

.services .title{
    text-align: center;
    margin: 40px 0;
    font-weight: 400;
    font-size: 35px;
}

.services .serv-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between; 
}

.services .serv-content .card { 
    width: calc(33% - 20px);
    background: var(--first-color);
    text-align: center;
    border-radius: 6px;
    padding: 50px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}

/*
Altera a cor de fundo do cartão
*/
.services .serv-content .card:hover{
    background: var(--active-color);
}
.services .serv-content i { 
    font-size: 50px;
    color: var(--active-color);

}
.services .serv-content .card:hover i{
    color: var(--site-color);
    transition: all o0.3s ease;
}
.services .serv-content .card .box {
    transition: all 0.3s ease;
}
/*
.services .serv-content .card:hover .box{
    Ao passar o mause no box ele aumenta um pouco.
*/
.services .serv-content .card:hover .box{
    transform: scale(1.15);
}
.services .serv-content .card .text {
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}

@media (max-width: 947px) {
    .services .serv-content .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
}

@media (max-width: 690px) {
    .services .serv-content .card{
        width: 100%;
    }
}
 /*
Fim Serviço
*/

/*
Iniício do serviço premium
*/

/*Estilizando cor da letra, fundo e fonte da seção Premium*/
.premium{
    color: var(--site-color);
    background-color: var(--first-color);
    font-family: 'Poppins',sans-serif;
}

/*No titulo vamos alinhar e definir a magem, espessura da fonte e tamanho*/
.premium .title{
    text-align: center;
    margin: 50px 0px;
    font-weight: 400;
    font-size: 35px;    
}

/*No conteudo Premium colocar tudo na mesma linha com display Flex e usar flex-wrap
para quebrar em varias linhas, alinhar os itens e justificar  */
.premium .premium-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
/*
Nesta parte vamos dividir a tela 45% para left e 55 para right
*/
.premium .premium-content .left{
    width: 45%;
}
/*
Vamos setar o tamanho da imagem para 400px e  object-fit: cover
define como o conteúdo de um elemento substituído, como <img> ou <video>
deve ser redimensionado para caber em seu contêiner.
E foi adicionado uma borda de 6px
*/
.premium .premium-content .left img{
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 6px;
}

/*
Nesta parte vamos dividir a tela 45% para left e 55 para right
*/
.premium .premium-content .right{
    width: 55%;
}
/*
Aqui definimos otamanho do texto e espaçamento da fonte e margem de 10px
*/
.premium .premium-content .right .text{
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 10px;
}
/*
Aqui justificamos o texto 
*/
.premium .premium-content .right p{
    text-align: justify;
}

/*
Aqui definimos varias propriedados de botão contato.
*/
.premium .premium-content .right a{
    display: inline-block;
    background: var(--active-color);
    color: var(--site-color);
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid var(--active-color);
    transition: all 0.3s ease;
}
/*
Aqui mudamos a cor do botão contato e ao passar o mause tiramos tambpem o fundo.
*/
.premium .premium-content .right a:hover{
    color: var(--active-color);
    background: none;
}

@media (max-width:1104px){
    .premium .premium-content .left img{
        width: 350px;
        height: 350px;
    }
}
@media (max-width: 947px){
    .premium .premium-content .column{
        width: 100%;
    }
    .premium .premium-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .premium .premium-content .right{
        flex: 100%;
    }
}
/*
Fim do serviço premium
*/